<header class="home">
    <%= link_to root_path do %>
        <h4 class="logo">lingua</h4>
    <% end %>
    <ul class="nav">
        <li><a href="">About</a></li>
        <li><a href="">Log in</a></li>
        <li><%= link_to "Sign Up", signup_path %></li>
    </ul>
</header>