<%= render 'shared/css' %>
<%= render 'shared/header' %>
<div id="hero" class="home">
    <div class="hero-content">
        <h2>The first comprehensive<br>language builder.</h2>
        <%= link_to signup_path do %>
             <div class="button white">Get Started</div>
        <% end %>
    </div>
    <div class="hero-bg"></div>
</div>
<div id="main">
    <h1>test</h1>
</div>